<body>
    <div>

<div>

<form [formGroup]="signInForm">

    <mat-form-field>
        <mat-label>User Name</mat-label>
        <input type="text" matInput formControlName="userName">
        <mat-hint *ngIf="!signInForm.get('userName')?.touched">Please enter your UserName
    </mat-hint>
        <mat-error *ngIf="signInForm.get('userName')?.errors?.['required']
        && signInForm.get('userName')?.touched">
        UserName is Required
    </mat-error>
    </mat-form-field>
    
    
    <br>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="text" matInput formControlName="password">
    </mat-form-field>
    <mat-error *ngIf="notValidUser">Invalid users name or password</mat-error>
    
    <br>
    <button mat-raised-button color="accent" (click)="submit()">Submit</button>
    <br>
    <a routerLink="/signUp">Don't have account click here</a>


</form>
</div>
</div>
</body>
