body{
    background-image: url('https://images.unsplash.com/photo-1558959357-685f9c7ace7b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-repeat: no-repeat;
    padding-right: 100px;
    padding-top: 20px;

}
div{
    border: 2px solid black;
    height: 230px;
    width: 250px;
    text-align: center;
    

}